body {
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	font-size: 12px;
	background-color: #000 !important;
}

.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none; /* Introduced in IE 10. See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */
	user-select: none;
}

.menu {
	z-index: 1;
}

.dg.ac {
    z-index: 5 !important;
}

.health, .shield, .life {
    right: 0;
    left: 0;
    margin: 0 auto;
}

.messenger, .message textarea {
	color: #fff;
	font: 1em 'Ubuntu';
}

.messenger {
	right: 1em;
	top: 20%;
	width: 20%;
	height: 50%;
}

.messages {
	width: 100%;
	height: 80%;
	overflow: hidden;
}

.message {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20%;
	z-index: 10;
}

.message, .message textarea, .message div {
	background: none;
	border: none;
	outline: none;
	padding: 0;
}

.message textarea {
	border-top: 0.1em rgba(255, 255, 255, 0.5) solid;
	border-bottom: 0.1em rgba(255, 255, 255, 0.5) solid;
	border-radius: 0.5em;
	padding: 0.5em;
}

.counter, .counter-image {
	right: 0;
	bottom: 0;
	color: #fff;
	font: 5vw 'Ubuntu';
}

.counter {
    width: 50%;
    height: 50%;
	background: -webkit-linear-gradient(left top, transparent 0%, transparent 50%, #01182d 85%, #000 100%);          /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, transparent 0%, transparent 50%, #01182d 85%, #000 100%);           /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, transparent 0%, transparent 50%, #01182d 85%, #000 100%);         /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, transparent 0%, transparent 50%, #01182d 85%, #000 90%, #000 100%); /* Standard syntax (must be last) */
}

.counter-image {
	width: 50%;
	height: 50%;
	background: url('../image/hud/counter.png') no-repeat bottom right / contain;
}

.counter-image:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(left top, transparent 0%, transparent 50%, #000 85%, #000 100%);
	background: -o-linear-gradient(bottom right, transparent 0%, transparent 50%, #000 85%, #000 100%);
	background: -moz-linear-gradient(bottom right,transparent 0%, transparent 50%, #000 85%, #000 100%);
	background: linear-gradient(to bottom right, transparent 0%, transparent 50%, #000 85%, #000 100%);
}
