body {
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font-size: 12px;
	background-color: #000 !important;
}

.menu {
	z-index: 1;
}

.dg.ac {
    z-index: 5 !important;
}

.health, .shield, .life {
    right: 0;
    left: 0;
    margin: 0 auto;
}

.counter {
    width: 50%;
    height: 50%;
    right: 0;
    bottom: 0;
    background: url('../image/hud/counter.png') no-repeat bottom right / 100%;
    color: #fff;
    font: 5vw 'Ubuntu'
}
